extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Parâmetros
          li.breadcrumb-item Valor Extensivo
          li.breadcrumb-item.active Detalhes
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-edit
                      |  Valor Extensivo - Detalhes
                    .card-body   
                      != messages()  
                      form.form-horizontal(action='/extensivevalues/delete/#{extvalueses.id}', method='post') 
                        .form-group
                          label.form-control-label(for='value') Classe
                          .controls
                            .input-group
                              input#class.form-control(name='class',size='16', type='text', value='#{extvalueses.class}', readonly=true)  
                        .form-group
                          label.form-control-label(for='value') Valor
                          .controls
                            .input-group
                              input#value.form-control(name='value',size='16', type='text', value='#{extvalueses.value}', readonly=true) 
                        .form-group
                          label.form-control-label(for='description') Descrição
                          .controls
                            .input-group
                              input#description.form-control(name='description',size='100', type='text', value='#{extvalueses.description}', readonly=true)
                        .form-group
                          label.col-md-3.form-control-label(for='activedYN') Ativo?
                          .controls
                            .col-md-9
                              select#active.form-control-sm(name='active', disabled=true)
                                option(value='true', selected=extvalueses.active == true) Sim
                                option(value='false', selected=extvalueses.active == false) Não
                        .form-group
                          label.form-control-label(for='createdAt') Criado em
                          .controls
                            .input-group
                              input#createdAt.form-control(size='16', type='text', readonly=true, value='#{extvalueses.createdAt}')                                                                                                              
                        .form-actions                          
                          a(href='/extensivevalues/edit/#{extvalueses.id}') 
                            button.btn.btn-sm.btn-success(type='button')
                              i.fa.fa-edit
                              |  Editar   
                            span    
                          button.btn.btn-sm.btn-primary(type='submit')
                            i.fa.fa-delicious
                            |  Deletar   
                          span         
                          a(href='/extensivevalues')                
                            button.btn.btn-sm.btn-info(type='button')
                              i.fa.fa-backward
                              |  Voltar a lista                               