
// Bootstrap and necessary plugins
script(src='#{baseuri}bower_components/jquery/dist/jquery.min.js')

script(src='#{baseuri}bower_components/popper.js/dist/umd/popper.min.js')
script(src='#{baseuri}bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='#{baseuri}bower_components/pace/pace.min.js')

// Plugins and scripts required by all views
script(src='#{baseuri}bower_components/chart.js/dist/Chart.min.js')
// GenesisUI main scripts
script(src='#{baseuri}js/app.js')

block scripts
//- // Plugins and scripts required by this views
//- script(src='js/views/charts.js')

//- // Plugins and scripts required by this views
//- script(src='js/views/main.js')

//- // Custom Data
//- script(src='js/loadIndex.js')  
//- // Bing GeoLocation 
//- script(type='text/javascript', src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&setMkt=pt-BR&setLang=pt-BR',async, defer)
